.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 24px;
  text-align: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 200px;
  height: 45px; 
}

.btn-test {
  background-color: #05668d;
  color: var(--white);
  border: 1px solid #dadce0;
}

.btn-test:hover {
  background-color: #38a3a5;
}

.btn-github {
  background-color: #24292e;
  color: var(--white);
  border: none;
}

.btn-github:hover {
  background-color: #38a3a5;
}